@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans+Condensed:400italic,700italic,400,700);

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
